<div ng-include="'components/navbar/navbar.html'"></div>

<div id="main">

<div class="row">
    <div class="col-md-4 col-lg-2">
      <div class="input-group">
          <input type="text" class="form-control" placeholder="Add gadgetID" ng-model="gadget_id" />
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default" ng-click="add_gadget()">Add</button>
          </span>
      </div>
      <br>

      <div class="list-group">
        <a ng-repeat="gadget_id in gadgets" a href="#" class="list-group-item">
          {{gadget_id}}
          </a>
      </div>

      </div>

      <div class="col-md-8 col-lg-10" ng-repeat="card in cards">
        <div class="alert alert-info" role="alert">
          {{card}}
          }<br><br>
         </div>
      </div>
</div>

</div>
